/*
 * Skin: Resisten
 * ----------
 */
.skin-resisten .main-header .navbar {
	background-color: #3897f0;
}
.skin-resisten .main-header .navbar .nav > li > a {
	color: #ffffff;
}
.skin-resisten .main-header .navbar .nav > li > a:hover, .skin-resisten .main-header .navbar .nav > li > a:active, .skin-resisten .main-header .navbar .nav > li > a:focus, .skin-resisten .main-header .navbar .nav .open > a, .skin-resisten .main-header .navbar .nav .open > a:hover, .skin-resisten .main-header .navbar .nav .open > a:focus, .skin-resisten .main-header .navbar .nav > .active > a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.skin-resisten .main-header .navbar .sidebar-toggle {
	color: #ffffff;
}
.skin-resisten .main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1);
}
.skin-resisten .main-header .navbar .sidebar-toggle {
	color: #fff;
}
.skin-resisten .main-header .navbar .sidebar-toggle:hover {
	background-color: #2c88dd;
}
@media (max-width: 767px) {
	.skin-resisten .main-header .navbar .dropdown-menu li.divider {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.skin-resisten .main-header .navbar .dropdown-menu li a {
		color: #fff;
	}
	.skin-resisten .main-header .navbar .dropdown-menu li a:hover {
		background: #367fa9;
	}
}
.skin-resisten .main-header .logo {
	background-color: #2c88dd;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-resisten .main-header .logo:hover {
	background-color: #2a84d6;
}
.skin-resisten .main-header li.user-header {
	background-color: #3897f0;
}
.skin-resisten .content-header {
	background: transparent;
}
.skin-resisten .wrapper, .skin-resisten .main-sidebar, .skin-resisten .left-side {
	background-color: #fff;
}
.skin-resisten .content-wrapper, .skin-resisten .main-footer {
	border-left: 1px solid #d2d6de;
}
.skin-resisten .user-panel > .info, .skin-resisten .user-panel > .info > a {
	color: #444444;
}
.skin-resisten .sidebar-menu > li {
	-webkit-transition: border-left-color 0.3s ease;
	-o-transition: border-left-color 0.3s ease;
	transition: border-left-color 0.3s ease;
}
.skin-resisten .sidebar-menu > li.header {
	color: #848484;
	background: #fff;
}
.skin-resisten .sidebar-menu > li > a {
	border-left: 3px solid transparent;
	font-weight: 600;
}
.skin-resisten .sidebar-menu > li:hover > a, .skin-resisten .sidebar-menu > li.active > a {
	color: #000000;
	background: #f4f4f5;
}
.skin-resisten .sidebar-menu > li.active {
	border-left-color: #3897f0;
}
.skin-resisten .sidebar-menu > li.active > a {
	font-weight: 600;
}
.skin-resisten .sidebar-menu > li > .treeview-menu {
	background: #f4f4f5;
}
.skin-resisten .sidebar a {
	color: #444444;
}
.skin-resisten .sidebar a:hover {
	text-decoration: none;
}
.skin-resisten .treeview-menu > li > a {
	color: #777777;
}
.skin-resisten .treeview-menu > li.active > a, .skin-resisten .treeview-menu > li > a:hover {
	color: #000000;
}
.skin-resisten .treeview-menu > li.active > a {
	font-weight: 600;
}
.skin-resisten .sidebar-form {
	border-radius: 3px;
	border: 1px solid #d2d6de;
	margin: 10px 10px;
}
.skin-resisten .sidebar-form input[type="text"], .skin-resisten .sidebar-form .btn {
	box-shadow: none;
	background-color: #fff;
	border: 1px solid transparent;
	height: 35px;
}
.skin-resisten .sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}
.skin-resisten .sidebar-form input[type="text"]:focus, .skin-resisten .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}
.skin-resisten .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}
.skin-resisten .sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
	.skin-resisten.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
		border-left: 1px solid #d2d6de;
	}
}
.skin-resisten .main-footer {
	border-top-color: #d2d6de;
}
.skin-resisten.layout-top-nav .main-header > .logo {
	background-color: #3897f0;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-resisten.layout-top-nav .main-header > .logo:hover {
	background-color: #2a84d6;
}

/* My Style */
.fav-active {
	color: #3897f0;
}
.nav-tabs-custom > .nav-tabs-danger > li.active {
	border-top-color: #3897f0;
}
.add-btn {
	background-color: #3897f0;
}
.box.box-resisten {
	border-top-color: #3897f0;
}
.btn-resisten {
	color: #fff;
	background-color: #3897f0;
	border-color: #2a84d6;
}
.btn-resisten:hover {
	color: #fff;
	background-color: #2c88dd;
	border-color: #2a84d6;
}
.bg-resisten {
	color: #fff;
	background-color: #3897f0;
}
.direct-chat-resisten .right > .direct-chat-text {
	background-color: #3897f0;
	border-color: #3897f0;
	color: #fff;
}
.nav-tabs-resisten {
	border-top-color: #3897f0;
}
.label-resisten {
	background-color: #3897f0;
}
.content-wrapper, .right-side {
	background-color: #fff;
}
