a.no-style, a.no-style:hover {
	color: inherit;
}

.capitalize {
	text-transform: capitalize;
}

img.img-prev-edit {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.add-btn {
    position:fixed;
    bottom:30px;
    right:15px;
    padding: 15px 20px;
    border-radius: 25px;
    color:#fff;
    box-shadow: 2px 2px 10px 0px rgba(136,136,136,1);
    border: none;
}

.add-btn:hover {
	color: #fff;
    border: none;
}

.resisten-search-form {
	width: 100%;
	height: 50px;
	z-index: 99999;
	position: fixed;
	background-color: #1e1e1e;
	padding-top: 8px;
	top: 0;
}

.center {
	width: 100%;
	text-align: center;
}

.reject-btn {
	margin-left: 5px;
}

.supplier-list {
	margin-bottom: 10px;
}

.supplier-list:last-child {
	margin-bottom: 0;
}

.spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.loading {
    overflow: hidden;   
}

.loading .spinner {
    display: block;
}

.fav-button, .edit-button {
	position: absolute;
	right: 20px;
	top: 35px;
	color: #3897f0;
	cursor: pointer;
}

.add-button {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #3897f0;
	cursor: pointer;
}

.chat-del-btn {
	position: absolute;
	top: 30px;
	right: 30px;
}

.direct-chat-messages {
	height: 500px;
}

.remove-image{
	position: absolute;
	z-index: 9999;
	top: 15px;
	right: 30px;
}

.slick-prev {
	left: 10px;
	z-index: 9999;
}

.slick-next {
	right: 10px;
	z-index: 9999;
}

*:focus {
	outline:none;
}

button:focus, .btn:focus {
	color: #fff;
}

.content-header>.breadcrumb {
	padding: 0 5px;
}

.sidebar-menu>li>a>.fa-lg {
	width: 30px;
}

.sidebar-menu>li>a {
	padding-left: 13px;
}

.widget-user-2 .widget-user-image>img {
	width: 45px;
}

.widget-user-2 .widget-user-username, 
.widget-user-2 .widget-user-desc {
	margin-left: 60px
}

.widget-user-2 .widget-user-username {
	font-size: 20px;
}

.breadcrumb {
	display: none;
}

/*
.box-widget {
	transition: all 300ms ease-out;
}

.box-widget:hover {
	-webkit-box-shadow: 0 0 6px rgba(221, 75, 57, 1);
	-moz-box-shadow: 0 0 6px rgba(221, 75, 57, 1);
	box-shadow: 0 0 6px rgba(221, 75, 57, 1);
}
*/

@media (min-width: 768px) and (max-width: 992px) {
	.direct-chat-messages {
		height: 450px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.direct-chat-messages {
		height: 400px;
	}
}

@media only screen and (max-width: 480px) {
	.reject-btn {
		margin-bottom: 5px;
	}
	.direct-chat-messages {
		height: 300px;
	}
}
